body {
	font-size: 14px;
	font-family: calibri, helvetica, serif;
	color: navy;
	font-weight: 300;
	font-style: normal;
	background: rgb(211, 211, 211) url(https://i.imgur.com/sPhLIKY.jpg) no-repeat bottom right;
}

p {
	color: black;
}

a {
	color: blue;
}

h1 {
	color: rgb(255,255,0)
	font-weight: 600;
	font-size: 28px;
}

h2 {
	font-size: 1.5em;
	background-color: #ccc;
	margin: 20px;
	padding: 40px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(230, 230, 230);
	width: 40%
}

h3 {
	font: 14px/1.5 "Times New Roman", times, serif;
	padding: 30px 10px;
	width: 40%;
	border: 1px black solid;
	border-width: 1px 5px 5px 1px;
	border-color: red green blue yellow;
	margin: 10px 50px;
}

p.torsoen:first-letter {
	font-size: 24px;
	float: left;
}


.notlink {
	text-decoration: underline;
}

.blue {
	color: blue;
}

.centered {
	text-align: center;
}

.letter-spacing {
	letter-spacing: 0.5em;
}

.word-spacing {
	word-spacing: 1em;
	width: 40%;
}

.torsoen {
	text-decoration: line-through;
}

.hover_test:hover {
	color: rgb(180, 180, 180);
	background-color: rgb(100, 100, 100);
	width: 40%;
}
	

