.logo {
	height: 92px; width: 272px;
	display: block;
	margin: 0 auto;
	position: relative;
	padding-top: 180px;
}


.input {
	width: 550px;
}

.search_bar {
	position: relative;
	left: -135px;
}

.button {
	width: 700px;
}

.button .search, .button .lucky, .login {
	display: inline;
	padding: 2px 8px;
	appearance: button;
	-moz-appearance: button;
	-webkit-appearance: button;
	text-decoration: none; font: menu; color: ButtonText;	
}

.login {
	color: blue;
	padding-left: 10px;
}

.toolbar {
	font-size: 14px;
	float: right;
	width: 300px;
	padding: 15px 0;
}

